
@use 'variaveis';
@use 'intro';
@use 'about';



@font-face {
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(/assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: avenir, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}


@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}
.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}


.about__content {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }


    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }

        background-image: url(/dist/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}




